@import "./base/_variables";

.padding{
    padding: 2rem;
}

.pie-flex{
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    text-align: center;
}

.pie-flex img{
    margin: 0.2rem;
    width: 2.5rem;
}